body {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background: url(https://images5.alphacoders.com/874/thumb-1920-874737.jpg);
    color: red;
  }
  
  h1 {
    font-size: 100px
  }

  .backTop {
    background: black;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  p {
    text-align: center;
    border-radius: 50px;
    width: 100px;
    background: black;
  }

  #wrapper{
    margin: 0 auto;
    width: 90%;
    text-align: center;
  }
  
  .giphD {
    display: inline-table;
    padding: 10px;
  }

  .gImage {
      width: 250px;
      height: 250px;
  }
  
  .button {
    padding: 5px;
    margin: 5px;
    cursor: pointer;
  }
  
  form {
    padding: 5px;
    margin: 5px;
  }

  .add-giph{
    cursor: pointer;
  }
  
  .giph-name {
    margin: 5px;
    padding: 10px;
  }
  
  .add-giph {
   margin: 5px;
  }