main{
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  
  #wrapper{
    margin: 0 auto;
    width: 90%;
    text-align: center;
  }
  
  .giphD {
    display: inline-table;
    padding: 10px;
  }

  .gImage {
      width: 250px;
      height: 250px;
  }
  
  .button {
    padding: 5px;
    margin: 5px;
  }
  
  form {
    padding: 5px;
    margin: 5px;
  }
  
  .giph-name {
    margin: 5px;
    padding: 10px;
  }
  
  .add-giph {
   margin: 5px;
  }